* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
      Ubuntu, Cantarell, sans-serif;
    line-height: 1.6;
    color: white;
    background-color: #441752;
  }
  
  .hero {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  
  
  
  .announcement-link {
    text-decoration: none;
    margin: 12px;
    background-image: linear-gradient(to bottom right, rgba(0, 242, 255, 0.422), rgb(238, 0, 255));
    color: rgb(255, 255, 255);
    border: 1px solid rgb(255, 255, 255);
    border-radius: 50px;
    padding: 20px 20px;
  }
  
  .announcement-link:hover {
    background-image: linear-gradient(to bottom right, rgb(0, 242, 255), rgb(255, 0, 234));
  }
  
  .announcement-text {
    font-weight: bold;
    font-size: 25px;
  }
  
  .announcement-button {
    border: 1px solid rgb(255, 255, 255);
    border-radius: 50px;
    padding: 15px 30px;
    background-image: linear-gradient(to bottom right, rgba(0, 242, 255, 0.468), rgb(255, 0, 238));
  }
  
  .hero-content {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .hero-title {
    font-size: 4vw;
    font-weight: 900;
  }
  
  .hero-description {
    font-size:25px;
    text-align: center;
    font-weight: 500;
  }
  
  .cta-button {
    text-decoration: none;
    font-weight: bold;
    font-size: 25px;
    margin: 12px;
    background-image: linear-gradient(to bottom right, rgba(0, 238, 255, 0.63), rgb(247, 0, 255));
    color: rgb(255, 255, 255);
    border: 1px solid rgb(255, 255, 255);
    border-radius: 50px;
    padding: 15px 20px;
  }
  
  .cta-button:hover {
    background-image: linear-gradient(to bottom right, rgb(0, 242, 255), rgb(255, 0, 238));
  }
  
  @media (max-width: 640px) {
    .hero {
      padding: 1rem;
    }
  
    .announcement-link {
      font-size: 0.75rem;
    }
  
    .hero-content {
      padding: 0 1rem;
    }
  }
  