/* Challenge CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Basic styles */
body {
  font-family: "Arial", sans-serif;
  line-height: 1.6;
}

/* Navbar styles */
.navbar {
  /* Add styles for navbar */
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  color: #fff;
  background-color: #333;
  padding: 20px;
}

.logo {
  /* Add styles for the logo */
  display: flex;
  align-items: center;
  font-weight: 600;
}

.logo img {
  /* Add styles for logo image */
  box-shadow: 0 0 10px yellow;
  object-fit: contain;
  border-radius: 50px;
  margin: 10px;
  
}


.nav-links a {
  /* Add styles for nav links */
  margin: 20px;
  text-decoration: none;
  color: #fff;
  font-size: 1.1rem;
  font-weight: 600;
}

.nav-links a:hover {
  /* Add hover styles for nav links */
  color: #ff3c00;
  text-decoration: underline;
  border-radius: 10px;
}

/* Hero section styles */
.hero {
  /* Add styles for hero section */
  position: relative;
  background:rgba(0, 0, 0, 0.759);
  height: calc(100vh - 70px);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff;
}

.hero::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("assets/chaigym.png") no-repeat center center/cover;
  z-index: -1; /* Place behind content */
}

.hero-content {
  /* Add styles for hero content */
  z-index: 1;
  text-align: center;
}

.hero-content h1 {
  /* Add styles for hero heading */
  z-index: 1;
  font-size: 4.5vw;
  font-weight: 800;
}

.hero-content p {
  /* Add styles for hero paragraph */
  font-size: 1.3vw;
  font-weight: 700;
}

.cta-button {
  /* Add styles for CTA button */
  padding: 20px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  border: none;
  border-radius: 15px;
  background-color: #ff5e00;
}

.cta-button:hover {
  /* Add hover styles for CTA button */
  background-color: #ff3c00;
}

/* Features section styles */
.features {
  /* Add styles for features section */
  display: flex;
  justify-content: space-around;
  box-shadow: 0 0 10px #fff;
  padding: 20px;
  width: 80%;
  border-radius: 20px;
  margin-top: 70px;
  background-color: #00000098;
  backdrop-filter: blur( 1px );
}

.feature {
  /* Add styles for each feature block */
  text-align: center;
  width: 25%;
  margin: 15px;
  padding: 20px;
  color: #fff;
  border: 3px solid #ff5e00;
  border-radius: 20px;
}

.feature h3 {
  /* Add styles for feature heading */
  font-size: 1.8vw;
  color: #ff5e00;
}

.feature p {
  /* Add styles for feature paragraph */
  font-size: 20px;
}
